.dashboard {
  height: calc(100% - 80px);
  background: #fff;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  box-shadow: 0 0px 2.2px rgba(173, 46, 46, 0.07),
    0 0px 5.3px rgba(0, 0, 0, 0.05), 0 0px 10px rgba(0, 0, 0, 0.042),
    0 0px 17.9px rgba(0, 0, 0, 0.035), 0 0px 33.4px rgba(0, 0, 0, 0.028),
    0 0px 80px rgba(0, 0, 0, 0.02);

  transform: translateY(100vh);
  transition: all 0.3s ease-in-out;

  &.dashboard--visible {
    transform: translateY(0);

    .dashboard-card {
      opacity: 1;
    }
  }

  @include tablet {
    max-width: 500px;
    margin: 2rem auto 0;
    height: auto;
    border-radius: 2rem;
  }
}

.dashboard-card {
  height: 100%;
  position: relative;
  background: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.4s;
}

.card-amount {
  font-family: $body-font;
  padding: 4rem 1rem;
  font-size: 8rem;
  display: flex;
  justify-content: center;

  sup {
    width: min-content;
    font-family: $title-font;
    margin-left: 0.5rem;
    vertical-align: top;
    letter-spacing: 2px;
    font-size: 1.125rem;
  }
}

.card-controls {
  display: flex;
  justify-content: center;

  div {
    user-select: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    line-height: 3.9rem;
  }

  .card-controlMinus {
    margin-right: 1rem;
    color: color(typography, 2);
    border-color: transparent;
  }
  .card-controlPlus {
    border-color: transparent;
    background-color: color(primary, 1);
  }
}

.card-saved {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  color: color(typography, 3);

  span {
    display: inline-block;
    vertical-align: bottom;
    color: color(typography, 2);
  }

  @include tablet {
    margin: 3rem 0rem 1rem 0;
    position: relative;
    bottom: 0;
  }
}
