.dashboard {
  height: calc(100% - 80px);
  background: #eee;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
}

.dashboard-card {
  height: 100%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.024);
}
